html, body {
	padding: 0px;
	margin: 0px;
	background-color: rgb(0, 0, 0);
}

* {
	margin: 0 px;
	padding: 0 px;
	list-style: none;
}

.mainApp {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 100%;
	height: 100%;
	/* border: 1px solid #343848; */

}
.mainApp #contentArea {
	display: flex;
	flex-direction: row;
	width: 100%;

}
#contentArea .leftMenu {
	width: 0px;

	background-size: cover;
	height: 100%;
	background-color: #272C36;
	transition: 0.4s;
}
  
#contentArea #contentPage {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: flex-start;
	overflow: auto;
}

.campoDeBuqueda {
	display: flex;
	position: relative;
	margin: 35px;
	width: 60px;
	flex-direction: row;
	font-family: 'Alata', sans-serif;

}

.campoDeBuqueda input {
	flex: 1;
	padding: 10px;
	border: 0.2em solid #5AB8EB;
	font-family: 'Alata', sans-serif;
}

.campoDeBuqueda button {
	padding: 15px 10px;
	background-color: #5AB8EB;
	color: white;
	border: none;
	font-family: 'Alata', sans-serif;
}

h1 {
	text-align: center;
	position: relative;
	top: 2px;
	background-color: transparent;
}

h3 {
	text-align: center;
	position: relative;
	top: 2px;
	background-color: transparent;

}

.menu_principal {
	/*No borrar o modificar (atte: Pauli)*/
	text-align: center;
}

a:hover {
	background-color: #ACEBEA;
	/* Para que cambie de color cuando pasa por arriba con el mouse */
}

.menu {
	/*No borrar o modificar (atte: Pauli)*/
	list-style-type: none;
	margin: 0px;
	height: 40px;
	width: 150px;
	text-transform: uppercase;
	/* Para que no aparezca el subrayado*/
	text-decoration: none;
	font-family: 'Alata', sans-serif;
	font-size: 9pt;
	background-color: #77B8EB;
	line-height: 40px;
	border-radius: 5px;
	color: rgb(0, 0, 0);
	display: block;
	padding: 2px;
}



/*CSS Tami*/
:root {--bs-body-font-family: Inter, sans-serif;}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
		  box-sizing: border-box;
}

body {
  position: center
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.1rem;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  line-height: 2.5;
  color: #14191e;
}
h6, .h6 {
  font-size: 0.9375rem;
}
/*! no quitar propiedad, se subrayaran las pababras*/
a {
  color: #0f6fec;
  text-decoration: none;
}
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
	  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #29292e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e1e4e6;
  -webkit-appearance: none;
	 -moz-appearance: none;
		  appearance: none;
  border-radius: 0.4rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.form-control::-webkit-date-and-time-value {
  height: 1.5em;
}
.form-control::-webkit-input-placeholder {
  color: #a1a1a8;
  opacity: 1;
}
.form-control::-moz-placeholder {
  color: #a1a1a8;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #a1a1a8;
  opacity: 1;
}

.form-control::-webkit-file-upload-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  -webkit-margin-end: 1rem;
		  margin-inline-end: 1rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-group-vertical > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group-vertical > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
	  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-link {
  display: block;
  padding: 0.5rem 0.95rem;
  color: #676a79;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.sep-text{
  padding: 0.5rem 0.95rem;
}
.sep-hora{
  padding: 1rem 1rem;
  color:#a1a1a8
}
.posteo {
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
	  -ms-flex-direction: column;
		  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(255, 255, 255);
  background-clip: border-box;
  border: 3px solid rgba(0, 0, 0, 0.09);
  border-radius: 0.99rem; 
  margin-bottom: 30px;
}
.posteo-body {
  -webkit-box-flex: 1;
	  -ms-flex: 1 1 auto;
		  flex: 1 1 auto;
  padding: 1.25rem 1.25rem;
}
.posteo-header {
  padding: 1.25rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 3px solid rgba(0, 0, 0, 0.09);
}
.opacity-50 {
  opacity: 0.5 !important;
}
.position-relative {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}
.top-50 {
  top: 50% !important;
}
.start-50 {
  left: 50% !important;
}
.translate-middle {
  -webkit-transform: translate(-50%, -50%) !important;
		  transform: translate(-50%, -50%) !important;
}
.text-white {
  --bs-text-opacity: 2;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.rounded-circle {
  border-radius: 50% !important;
}
@media print {
  .d-print-none {
	display: none !important;
  }
}
.z-index-1 {
  z-index: 1 !important;
}
header {
  height: 56px;
}
.navbar-toggler[data-bs-toggle=collapse][aria-expanded=true] .navbar-toggler-animation span:nth-child(3) {
  -webkit-transform: rotateZ(-45deg) translateY(-50%);
		  transform: rotateZ(-45deg) translateY(-50%);
  bottom: 42%;
  -webkit-transform-origin: 50% 0;
		  transform-origin: 50% 0;
  width: 100%;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a, .h1 > a, .h2 > a, .h3 > a, .h4 > a, .h5 > a, .h6 > a {
  color: #14191e;
}
h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover, .h1 > a:hover, .h2 > a:hover, .h3 > a:hover, .h4 > a:hover, .h5 > a:hover, .h6 > a:hover {
  color: #0f6fec;
}

.preloader {
  background-color: #fff;
  position: fixed;
  z-index: 1190;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.comment-wrap .comment-item-nested {
  padding-left: 4.75rem;
}

.avatar {
  height: 3rem;
  width: 3rem;
  position: relative;
  display: inline-block;
  -ms-flex-negative: 0 !important;
	  flex-shrink: 0 !important;
}
.avatar-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
	 object-fit: cover;
}